body{
  background-color: beige;
  font-family: Arial, sans-serif;
}

h1{
  color: darkblue;
  text-align: center;
}

p{
  color: black;
  font-size: 18px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.layout {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
#header {
    width: 200px;
    background-color: beige;
    color: black;
    padding: 20px;
}

/* Links inside sidebar */
#header a {
    display: block;
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

#header a:hover {
    text-decoration: underline;
}

/* Main content */
.content {
    flex: 1;
    padding: 20px;
}

