body{
  background-color: beige;
  font-family: Arial, sans-serif;
}

h1{
  color: darkblue;
  text-align: center;
}

p{
  color: black;
  font-size: 18px;
}

body {
    margin: 0;
    font-family: sans-serif;
}

